In [1]:
import pandas as pd
import numpy as np

In [17]:
pd.read_csv(r'.\data\recipes.csv',nrows = 2, names)

,African,chicken,cinnamon,soy_sauce,onion,ginger,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,African,cane_molasses,ginger,cumin,garlic,tamarind,bread,coriander,vinegar,onion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,African,butter,pepper,onion,cardamom,cayenne,ginger,cottage_cheese,garlic,brassica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN